.container-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5em;
}
.btn-hamb{
    border: none;
    background-color: transparent;
}
.container-opt{
    text-align: center;
}
.uno{
    background-color: aliceblue;

}
.li-opt {
    display: block;
}
a{
    color: black;
    text-decoration: none;
}
.active {
  color: aqua;
}

.container-opt.oculto {
  display: none;
}

.container-opt.visible {
  display: block;
}
.dos{
    display: none;
}
@media (min-width: 765px) {
    .btn-hamb{
        display: none;
    }
    .container-opt{
        display: flex;
        gap: 2em;
    }
    
}